<div class="container">
	<div class="jumbotron text-center homepage_content">
		<h1></h1>
		<h1> project <i class="el el-laptop el-1x"></i> laptop</h1>
		<h3> Let's do something cool together </h3> 
		<br />

		<div class="media">
  			<div class="media">
    			<a href="#">
      				<img class="media-object circle" src="cb.png" alt="Me!">
    			</a>
  		</div> 

  		<br />
  		<br />
		<p> My name is Cameron. </p>
		<p> I just graduated from Stanford University, and I like to create things. </p>
		<p> However, despite its best efforts, my 5-year-old laptop isn't quite cutting it anymore when it comes to photography, graphic design, and filmmaking. </p>
		<h3 class="highlight">That's where you come in.</h3>
		<p> I want you to join me in doing something a little out of the ordinary. </p>
		<p> Forget billboards and online advertisements. Turn my new laptop into your unique advertising space. </p>
		<p> <span class="highlight">It's simple. </span> I'll laser-engrave your logo on the surface of my new MacBook Pro.</p>
		<p> My laptop goes everywhere I go, which means that this will be a way to get your brand seen by everyone who sees me in the Seattle, San Francisco, and Los Angeles areas (I travel a lot, especially on the west coast), as well as on my social media and some videos I'll make documenting the process. </p>
		<p> This is an experiment in doing something a little different. You help me out, and I'll help you.</p>
		<h3 class="highlight"> Give it a thought. If you're interested in helping me get a new laptop to keep creating cool things in exchange for awesome laser engraved advertising that travels all around the world with me, or if you just want more information, fill out the form below and I'll be in touch. </h3>
		<h3> I'd love to hear from you. Let's do this project together. </h3>
	</div>
</div>

<div class="col-md-4"></div>
	<div class="panel panel-default col-md-4">
		<div class="panel-heading">
    		<h2 class="panel-title text-center">Contact Me</h2>
  		</div>
		<div class="panel-body">
			<%= form_for Contact.new do |f| %>
				<div class="form-group">
					<%= f.label :name %>
					<%= f.text_field :name, required: true, class: "form-control" %>
				</div> 
				<br />
				<div class="form-group">
					<%= f.label :email %>
					<%= f.email_field :email, required: true, class: "form-control" %>
				</div>
				<br />
				<div class="form-group">
					<%= f.label :message %>
					<%= f.text_area :message, as: :text, class: "form-control" %>
				</div>
				<div class="hidden">
					<%= f.label :nickname %>
					<%= f.text_field :nickname, hint: 'leave this field blank' %>
				</div>

				<br ?>

				<%= f.submit 'Send Message', class: "btn btn-default" %>

			<% end %>
		</div> <!-- panel-body -->
	</div> <!-- panel -->